@model IEnumerable<DepartmentEvent>

@{
    Layout = "_AdminLayout";
}

<div class="bg-primary panel-body"><h4>Department Events</h4></div>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Department Event</a>
</div>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Employee</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Date of Event</th>
        <th>Amount</th>
        <th>AreExpensesGenerated</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Other actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Employee.FirstName @item.Employee.LastName</td>
            <td>@item.Description</td>
            <td>@item.DateCreated.ToString("dd/MM/yyyy")</td>
            <td>@item.DateOfEvent.ToString("dd/MM/yyyy")</td>
            <td>@item.AmountOfEmployee</td>
            <td>@item.AreExpensesGenerated</td>
            <td>
                <a asp-action="Edit" class="btn btn-sm btn-warning"
                   asp-route-departmentEventId="@item.Id">
                    Edit
                </a>
            </td>
            <td>
                @* Delete Department Event *@
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="DepartmentEventID" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
            <td class="text-center">
                @if (!item.AreExpensesGenerated)
                {
                    <form asp-action="GenerateExpenses" method="post">
                        <input type="hidden" name="DepartmentEventID" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Generate Expenses
                        </button>
                    </form>
                }
                @* Add Expenses *@
                <a class="btn btn-default"
                   asp-action="AddExpenses"
                   asp-controller="ExpensesAdmin"
                   asp-route-departmentEventId="@item.Id">
                    Add Expenses
                </a>
            </td>
        </tr>
    }
</table>
