@model IEnumerable<DepartmentEvent>

@{
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Employee</th>
        <th>Date Created</th>
        <th>Date of Event</th>
        <th>Amount</th>
        <th>AreExpensesGenerated</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Employee.FirstName @item.Employee.LastName</td>
            <td>@item.DateCreated</td>
            <td>@item.DateOfEvent</td>
            <td>@item.AmountOfEmployee</td>
            <td>@item.AreExpensesGenerated</td>
            <td class="text-center">
                @if (!item.AreExpensesGenerated)
                {
                    <form asp-action="GenerateExpenses" method="post">
                        <input type="hidden" name="DepartmentEventID" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Generate Expenses
                        </button>
                    </form>
                }
                <form asp-action="Delete" method="post">
                    @*<a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-employeeId="@item.EmployeeID">
                            Edit
                        </a>*@
                    <input type="hidden" name="DepartmentEventID" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Department Event</a>
</div>
