@model IEnumerable<Expense>

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <span>Filter:</span>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-default"
               asp-action="Index"
               asp-controller="ExpensesAdmin"
               asp-route-filterStatus="">
                All
            </a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-default"
               asp-action="Index"
               asp-controller="ExpensesAdmin"
               asp-route-filterStatus="notpaid">
                Not-Paid
            </a>
        </div>
    </div>
</div>

<br />

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Employee Event</th>
        <th>Employee</th>
        <th>Amount</th>
        <th>Date of Event</th>
        <th>Date of Payment</th>
        <th>Is Paid</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentEvent.Employee?.FirstName @item.DepartmentEvent.Employee?.LastName</td>
            <td>@item.Employee?.FirstName @item.Employee?.LastName</td>
            <td>@item.Amount</td>
            <td>@item.DepartmentEvent.DateOfEvent</td>
            <td>@item.DateOfPayment</td>
            <td>@item.IsPaid</td>
            <td class="text-center">
                @if (!item.IsPaid)
                {
                    <form asp-action="Pay" method="post">
                        <input type="hidden" name="ExpenseID" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Pay
                        </button>
                    </form>
                }
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="ExpenseID" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
@*<div class="text-center">
        <a asp-action="Create" class="btn btn-primary">Add Department Event</a>
    </div>*@
